# Ignore System Files
.DS_Store

# Ignore Code-Generated HTML Files + Folders
Exploratory Data Analysis/

# Ignore ZIP Files
Exploratory Data Analysis.zip
Pickles.zip

# Ignore Data Files
Data
*.csv
*.xls
*.xlsx

# Ignore Literature References
R&D References/*.pdf
!R&D References/Plan 1, Anomaly Detection.pdf

# Jupyter Meta Data
.ipynb_checkpoints
*.svg
